#Name{
    margin: auto;
    padding: 10px;
    border-bottom: 5px solid #cccccc;
    overflow: hidden;
    background: teal;
    color: white;
    font-size: 50px;
}
li {
    float: right;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #aaa;
    list-style: none;
    position: relative;
    font-size: 25px;
}
   
ul 
{background: teal;
    font: #777777;
    } 

section { background: wheat;
    margin: 0 auto;
        padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
width: 960px;}

head {background: rgb(243, 216, 166);}
    
.blondelocs {
    padding-top: 8.5px;
    float: left;
    padding-right: 30px;
    width: 200px;
    height: 275px;
    border: 10px;
}

#defaultbackground {margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #cccccc;
    overflow: hidden;
    background: #ffffff;
}

#container {
   padding: 20px;
   margin-bottom: 0 auto;
   background:tan;
   width: auto;
   height: auto;
   border: white;
}

h2 { margin-top: 0px;
    padding-bottom: 20px;
    border-bottom: 2px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
font-size: 40px}

#footer {
    background: teal;
    padding: 20px;
    margin-bottom: auto;
    font-size: 20px;
    margin-bottom: 20px;
    width: auto;
    color: whitesmoke;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
    border: 20px;
}

#main content {
    border: 20%;
    padding: 40%;
    margin: 20px;
    width: 300px;
    height: 300px;
    background: white;
    
} 

.Firstbox {
    padding: 40px;
    margin: 60px;
background: grey;
    width: 175px;
    height: 175px;
    float :left;} 

.Sndbox {
    padding: 40px;
    margin: 60px;
    background: black;
    width: 175px;
    height: 175px;
    float :left;
    
}

.Trdbox {
    padding: 40px;
    margin: 60px;
    background: yellow;
    width: 175px;
    height: 175px;
    float :left;
}

.Fthbox {
    padding: 40px;
    margin: 60px;
    background: hotpink;
    width: 175px;
    height: 175px;
    float :left;

}
.Fithbox {
    padding: 40px;
    margin: 60px;
    background:green;
    width: 175px;
    height: 175px;
    float :left;
}

.form {
    background: wheat;
    margin: 0 auto;
        padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
width: 960px;
height: 400px;
font-size: 25px;}


.placeholder {
    background: green;
    width: 650px;
    border: 20px;
    padding: 20px;
}
