#Name{
    margin: 0 auto;
    padding: 0;
    border-bottom: 5px solid #cccccc;
    overflow: hidden;
    background: teal;
    color: white;
    font-size: 50px;
    width: 100%;

}
li {
    float: right;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #aaa;
    list-style: none;
    position: relative;
    font-size: 25px;
}
   
ul 
{background: teal;
    font: #777777;
    } 

section { background: wheat;
    margin: 0 auto;
        padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
width: 960px;}

head {background: rgb(243, 216, 166);}
    
.blondelocs {
    padding-top: 8.5px;
    float: left;
    padding-right: 30px;
    width: 200px;
    height: 275px;
    border: 10px;
}

#defaultbackground {margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #cccccc;
    overflow: hidden;
    background: #ffffff;
}

#container {
   padding: 20px;
   margin-bottom: 0 auto;
   background:tan;
   width: auto;
   height: auto;
   border: white;
}

h2 { margin-top: 0px;
    padding-bottom: 20px;
    border-bottom: 2px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
font-size: 40px}

#footer {
    background: teal;
    padding: 20px;
    margin-bottom: 0 auto;
    font-size: 20px;
    margin-bottom: 20px;
    width: auto;
    color: whitesmoke;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
    border: 20px;
}

.form {
    background: wheat;
    margin: 0 auto;
        padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
width: 960px;
height: 400px;
font-size: 25px;}


.placeholder {
    background: green;
    width: 650px;
    border: 20px;
    padding: 20px;
}

.cat {
   display: inline;
}

.dj {
    display: inline;
}

.earphones {
    display: inline;
}

.Ipad {
    display: inline;
}
.phoneontable {
    display: inline;
}

@media screen and (max-width: 980px) {
    #container {
        width: 100%;
        margin: 0 auto;
    }}

@media screen and ( max-width: 768px) {
    #container {
        width: 70%;
        margin: 0 auto;
    }}

@media screen and ( max-width: 640px) {
    #container {
        width: 30%;
        margin: 0 auto;
    }}